body{
    background-color: #E9EB9E ;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}
.images .logo{
    height: 100px;
    width: 100px;
}
.box {
    height: 100px;
    width: 100px;
    border: 1px solid;
}
.outer{
    background-color: greenyellow;
}
.inner{
    background-color: bisque;
    
}
.bat{
    height: 300px;
    width: 300px;
    transition: transform 0.2s ease-in-out;
}

.ball{
    height:50px;
    transition: transform .2s ease-in 0.1s;

}
.field:hover .ball{
    transform: translate(500px, -200px) rotate(320deg);

    
}
.field:hover .bat{
    
    transform: rotate(-60deg);
    transform-origin: 100% 0%;
}
h1,h3{
    text-align: center;
    margin: auto;
    background-color: #855A5C ;
    width:fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.field{
    border: 1px solid gray;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
}
.text-transform:hover{
    color: #855A5C;
    background-color: white;
}